@import url(//font.elice.io/EliceDigitalBaeum.css);

/* COMMON */
html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
  color: #293845;
  font-size: 16px;
  -ms-overflow-style: none;
  word-break: keep-all;
}
::-webkit-scrollbar {
  display: none;
}

/* SECTION */
section {
  position: relative;
  box-sizing: border-box;
}

input[type="text"] {
  height: 40px;
  border: 1px solid #e0e0e0;
  margin-left: 4px;
}
button {
  font-family: "Elice Digital Baeum", sans-serif;
  cursor: pointer;
}
select {
  border: none;
  font-size: 16px;
  font-family: "Elice Digital Baeum", sans-serif;
  padding: 12px;
  box-sizing: border-box;
}
textarea {
  font-family: "Elice Digital Baeum", sans-serif;
  padding: 12px;
  box-sizing: border-box;
  font-size: 15px;
}

textarea:focus,
button:focus,
input:focus,
select:focus,
svg:focus {
  outline: none;
}
