header{
    display: flex;
    /* border: 2px solid green; */
    border-bottom: 1px solid #757575;
    margin-bottom: 40px;
}
header nav{
    /* border: 2px solid blue; */
    margin: 0 20px;
}
header nav .menu{
    margin: 0 4px;
}
header nav .userMenu{
    margin: 0 4px;
}