header.mainHeader {
  position: fixed;
  z-index: 99999;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transition-duration: 1s;
  border-bottom: 1px solid gray;
}
header.mainHeader:hover {
  background-color: rgba(255, 255, 255, 0.767);
  transition: background-color 1s;
}
header.ver2 {
  position: fixed;
  z-index: 99999;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.767);
  transition: background-color 1s;
  border-bottom: 1px solid gray;
}
header .logo {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}
header .menuContainer {
  font-size: 20px;
  margin-right: 40px;
  display: flex;
  position: absolute;
  top: 50;
  right: 0;
}
header nav.mainMenu {
  margin-right: 220px;
}
header nav .menu {
  margin-left: 20px;
}
header nav.user {
  margin: 0px;
}
header nav .userMenu {
  margin-left: 20px;
  font-size: 18px;
}
header .menuContainer button {
  background-color: #fff;
  border: 0.5px solid #3a3a3a;
  border-radius: 9999px;
  padding: 3px 12px;
  font-size: 16px;
}
