.mainContainer {
  color: #3a3a3a;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}
.mainContainer::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}
section.home {
  margin-top: 0;
  position: relative;
}
.firstPage .video {
  /* border: 2px solid red; */
  width: 100%;
  display: block;
  position: relative;
}
.firstPage .video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.firstPage .video::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
}
.introTextWrapper {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 5vw;
  text-align: right;
}

.introTextWrapper P {
  padding: 0.5vw;
  color: rgb(224, 224, 224);
}

.introTextWrapper .introText1 {
  font-size: 2.5vw;
  font-weight: bold;
}

.introTextWrapper .introText2 {
  font-size: 1.5vw;
}
.firstPage .findPark {
  position: absolute;
  bottom: -50%;
  right: 1.5vw;
  font-size: 1.5vw;
  color: rgb(224, 224, 224);
  border: 2px solid white;
  padding: 10px 20px;
}

.firstPage .underScroll {
  display: block;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.733);
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.firstPage .underScroll img {
  width: 5vw;
}

/* second page */
.secondPage {
  margin: 0 auto;
}
.reason1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.reason1 .tree {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.reason1 .tree img {
  width: 100%;
  height: 40vh;
  z-index: -1;
}

.reason1 .reason1Textwrapper {
  /* background-color: yellow; */
  width: 50%;
  text-align: left;
}
.reason1 .reason1Textwrapper > div {
  position: absolute;
}
.reason1 .reason1Textwrapper .reason1Title {
  left: 5vw;
  top: 30vh;
  font-size: 2.5vw;
  font-weight: bold;
}
.reason1 .reason1Textwrapper .reason1Title span {
  color: #5bc691;
}
.reason1 .reason1Textwrapper .reason1Title span.subTitle {
  font-size: 1.3vw;
}
.reason1 .reason1Textwrapper .reason1Title .title {
  padding: 1.5vh 0;
}
.reason1 .reason1Textwrapper .reason1Contents {
  left: 5vw;
  top: 37vh;
  font-size: 1.3vw;
  line-height: 1.3;
  color: #3a3a3a;
  padding: 5vh 0;
}

.reason1 .reason1-statisticswrapper {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 80px;
}

.reason1 .reason1-statisticswrapper .reason1Box {
  position: relative;
  box-sizing: border-box;
  margin: 0 2vw;
  top: 27vh;
  width: 50%;
  height: 50%;
}

.reason1 .reason1-statisticswrapper .reason1Box .reason1-statistics-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f6;
  border-radius: 10%;
}
.reason1 .reason1-statisticswrapper .reason1Box .reason1-statistics-back img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.reason1 .reason1-statisticswrapper .reason1Box .reason1Contents {
  position: absolute;
  padding: 10%;
  box-sizing: border-box;
  top: 3%;
  height: 100%;
  width: 100%;
  color: #3a3a3a;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  > p:first-child {
  text-align: center;
  font-size: 2vw;
  line-height: 1.3;
  font-weight: bold;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart1 {
  width: 100%;
  height: 70%;
  margin: 5vh 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart2
  .reason1CardRank {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart2
  .reason1CardRank
  p {
  font-size: 1.5vw;
  line-height: 2vw;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart3 {
  width: 100%;
  height: 70%;
  margin: 5vh 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
/* second half page */
.secondhalfPageContainer {
  height: 100vh;
  /* max-width: 1200px; */
  margin: auto auto;
  /* border: 2px solid red; */
  display: flex;
  padding-top: 120px;
  margin-left: 100px;
  /* align-items: center; */
  /* flex-direction: column; */
  box-sizing: border-box;
}
.secondhalfPage .pageimage img {
  width: 50vw;
}
.secondhalfPage .textcontent {
  margin-left: 60px;
  /* border: 2px solid orange; */
  font-size: 1.3vw;
  padding-top: 60px;
}
.secondhalfPage .textcontent p {
  line-height: 1.4;
}
.secondhalfPage .textcontent .green {
  color: #5bc691;
}
.secondhalfPage .textcontent .bold {
  font-weight: bold;
}
.secondhalfPage .textcontent .title {
  font-size: 2.5vw;
}
.secondhalfPage .textcontent .titles {
  margin-bottom: 24px;
}
.secondhalfPage .textcontent .mini {
  margin-bottom: 8px;
}
.secondhalfPage .textcontent .subtitle {
  font-size: 2.4vw;
}

/* third page */
.intro {
  position: relative;
  margin-top: 40px;
  width: 100vw;
  height: 100vh;
}

.intro .introBackgroundWrapper {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.intro .introBackground1 {
  background-color: #e5f4ec;
  width: 100%;
  height: 100%;
  /* border-bottom-left-radius: 70%; */
}
.intro .thirdContentsWrapper {
  position: relative;
  top: 35%;
}
.intro .thirdTitle {
  left: 5vw;
  top: 30vh;
  font-size: 2.5vw;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}
.intro .thirdButton {
  position: relative;
  padding: 0.5vw;
  background-color: #5bc691;
  border-radius: 20px;
  text-align: center;
  width: 20%;
  height: 5vh;
  margin-top: 7vh;
  left: 50%;
  transform: translateX(-50%);
}
.intro .thirdButton p {
  /* display: inline-block; */
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 5vh;
  vertical-align: middle;
}
.intro .intro-cloud-1 {
  position: absolute;
  top: 30vh;
  animation: 15s slidein linear alternate infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: -10%;
  }
}
.intro .intro-cloud-1 img {
  width: 9vw;
}

.intro .intro-cloud-2 {
  position: absolute;
  /* right: 20vw; */
  top: 15vh;
  animation: 25s slidein2 linear alternate infinite;
}
@keyframes slidein2 {
  from {
    margin-left: -15%;
  }

  to {
    margin-left: 100%;
  }
}
.intro .intro-cloud-2 img {
  width: 13vw;
}

.intro .intro-cloud-3 {
  position: absolute;
  top: 25vh;
  animation: 15s slidein3 linear alternate infinite;
}
@keyframes slidein3 {
  from {
    margin-right: -15%;
  }

  to {
    margin-left: 100%;
  }
}
.intro .intro-cloud-3 img {
  width: 10vw;
}

.intro .intro-sun {
  position: absolute;
  left: 8vw;
  top: 13vh;
}

.intro .intro-sun img {
  width: 120px;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.intro .mountain {
  position: absolute;
  width: 70vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.intro .mountain img {
  width: 70vw;
}
.intro .tree1 {
  position: absolute;
  bottom: 0vh;
  left: 14vw;
}
.intro .tree1 img {
  width: 6vw;
}
.intro .tree2 {
  position: absolute;
  bottom: 0vh;
  left: 23vw;
}
.intro .tree2 img {
  width: 4.5vw;
}
.intro .tree3 {
  position: absolute;
  bottom: 0vh;
  right: 20vw;
}
.intro .tree3 img {
  width: 7vw;
}
