.mainContainer {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}
.mainContainer::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}
section.home {
  margin-top: 0;
  position: relative;
  /* border: 2px solid red; */
}
.firstPage .video {
  /* border: 2px solid red; */
  width: 100%;
  display: block;
  position: relative;
}
.firstPage .video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.firstPage .video::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
}
.introTextWrapper {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 5vw;
  text-align: right;
}

.introTextWrapper P {
  padding: 0.5vw;
  color: rgb(224, 224, 224);
}

.introTextWrapper .introText1 {
  font-size: 2.5vw;
  font-weight: bold;
}

.introTextWrapper .introText2 {
  font-size: 1.5vw;
}
.firstPage .findPark {
  position: absolute;
  bottom: -50%;
  right: 1.5vw;
  font-size: 1.5vw;
  color: rgb(224, 224, 224);
  border: 2px solid white;
  padding: 10px 20px;
}

.firstPage .underScroll {
  display: block;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.733);
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.firstPage .underScroll img {
  width: 5vw;
}

/* second page */
.reason1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.reason1 .tree {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.reason1 .tree img {
  width: 100%;
  height: 40vh;
  z-index: -1;
}

.reason1 .reason1Textwrapper {
  /* background-color: yellow; */
  width: 50%;
  text-align: left;
  color: #546176;
}
.reason1 .reason1Textwrapper > div {
  position: absolute;
}
.reason1 .reason1Textwrapper .reason1Title {
  left: 5vw;
  top: 30vh;
  font-size: 2.5vw;
  font-weight: bold;
}
.reason1 .reason1Textwrapper .reason1Title span {
  color: #5bc691;
}

.reason1 .reason1Textwrapper .reason1Contents {
  left: 5vw;
  top: 37vh;
  font-size: 1.3vw;
}

.reason1 .reason1-statisticswrapper {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.reason1 .reason1-statisticswrapper .reason1Box {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 3vw;
  top: 27vh;
  width: 50%;
  height: 50%;
}

.reason1 .reason1-statisticswrapper .reason1Box .reason1-statistics-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f6;
  border-radius: 10%;
}
.reason1 .reason1-statisticswrapper .reason1Box .reason1-statistics-back img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.reason1 .reason1-statisticswrapper .reason1Box .reason1Contents {
  position: absolute;
  padding: 10%;
  box-sizing: border-box;
  top: 3%;
  height: 100%;
  width: 100%;
  color: black;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  > p:first-child {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart1 {
  width: 100%;
  height: 70%;
  margin: 5vh 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart2
  .reason1CardRank {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart2
  .reason1CardRank
  p {
  font-size: 1.5vw;
  line-height: 2vw;
}

.reason1
  .reason1-statisticswrapper
  .reason1Box
  .reason1Contents
  .reason1Chart3 {
  width: 100%;
  height: 70%;
  margin: 5vh 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

/* third page */
.intro {
  position: relative;
  margin-top: 40px;
  width: 99vw;
  height: 100vh;
}

.intro .introBackgroundWrapper {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.intro .introBackground1 {
  background-color: #e5f4ec;
  width: 100%;
  height: 100%;
  /* border-bottom-left-radius: 70%; */
}

.intro .introBackground2 {
  background-color: #5bc691;
  width: 50%;
  height: 100%;
}

.intro .intro-cloud-1 {
  position: absolute;
  left: 10vw;
  top: 30vh;
}

.intro .intro-cloud-1 img {
  width: 130px;
  /* height: 130px; */
}

.intro .intro-cloud-2 {
  position: absolute;
  right: 20vw;
  top: 15vh;
}

.intro .intro-cloud-2 img {
  width: 160px;
}

.intro .intro-cloud-3 {
  position: absolute;
  right: 8vw;
  top: 25vh;
}

.intro .intro-cloud-3 img {
  width: 145px;
}

.intro .intro-sun {
  position: absolute;
  left: 8vw;
  top: 13vh;
}

.intro .intro-sun img {
  width: 120px;
}
